.profile-pic {
	float: left;
	margin: 0 10px 0 0;
}

.sidebar_orange {
	color: rgb(255, 125, 65);
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Georgia', 'Arial', sans-serif;
	font-size: 11px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	opacity: 1.00;
}
.sidebar_black {
	color: #000;
	font-family: 'HoeflerText-Regular', 'Georgia', 'Times New Roman', serif;
	font-size: 13px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	opacity: 1.00;
	padding-bottom: 11px;
}
.sidebar_kudos {
    font-family: 'HoeflerText-Regular', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}
.sidebar_blue {
    color: rgb(84, 165, 189);
    line-height: 17px;
    opacity: 1.00;
}
.sidebar_t {
	color: rgb(95, 95, 95);
	font-family: 'HoeflerText-Regular', 'Georgia', 'Times New Roman', serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 17px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.sidebar_head {
	color: rgb(146, 146, 146);
	font-family: 'HoeflerText-Regular', 'Georgia', 'Times New Roman', serif;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 16px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.heading {
	color: rgb(171, 22, 0);
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 24px;
}
.clinics_name {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #6699CC;
}
.menu_dot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6699cc;
}
.big_blue_dot {
	color: #6699CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.text_bottom {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.menu_link {
	text-decoration: none;
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Verdana', sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: center;
}
.menu_link:Hover {
	text-decoration: none;
	color: #8A0041;
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Verdana', sans-serif;
	font-size: 11px;
	text-align: center;
}
.blue {
	color: #6699cc;
}
.text_main_14 {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 14px;
	color: rgb(121, 121, 121);
}
.text_link {
	color: #8A0041;
	text-decoration: none;
}
.text_link:hover {
	color: #8A0041;
	text-decoration: underline;
}
.black {
	color: #333;
}
.red {
	color: #F00;
}
.menu_link_empty {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Verdana', sans-serif;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
}
.hr {
	height: 1px;
	color: #6699cc;
}
.red_dot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #D84900;
}
.heading_white {
	color: #FFF;
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 17px;
}
.Geo {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
}
.heading_black {
	color: #333;
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 20px;
}
.text_main_just_14 {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 14px;
	color: rgb(121, 121, 121);
	text-align: justify;
}
.heading_black_17 {
	color: rgb(66, 66, 66);
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 17px;
	text-decoration: none;
}
.back_l {
	background-repeat: no-repeat;
	background-position: right top;
}
.back_r {
	background-repeat: no-repeat;
	background-position: left top;
}
.orange {
	color: #FF6600;
}
.back_r_bot {
	background-repeat: no-repeat;
	background-position: left bottom;
}
.back_l_bot {
	background-repeat: no-repeat;
	background-position: right bottom;
}
.text_main_14_black {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 14px;
	color: #333;
}
.text_link_boxes {
	color: #8A0041;
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.text_link_boxes:hover {
	color: #8A0041;
	text-decoration: underline;
}
.heading_20 {
	color: rgb(171, 22, 0);
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 20px;
}
.text_main {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 13px;
	color: #666;
}
.text_main_just {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 13px;
	color: rgb(66, 66, 66);
	text-align: justify;
	line-height: 18px;
}
.text_main_orange {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 13px;
	color: #FF6600;
}
.heading_red_17 {
	color: rgb(171, 22, 0);
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 17px;
	text-decoration: none;
}
.refs {
	font-family: 'HoeflerText-Regular', 'Times New Roman', serif;
	font-size: 11px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	color: rgb(169, 169, 169);
}
.refs_numbers {
	font-family: 'HoeflerText-Regular', 'Times New Roman', serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	color: rgb(84, 165, 189);
}
.text_kudos {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 12px;
	color: #666;
}
.text_main_black {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 13px;
	color: #333;
}
.text_12_just {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 12px;
	color: rgb(66, 66, 66);
	text-align: justify;
	line-height: 18px;
}
.text_main_blue {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 13px;
	color: rgb(65, 122, 170);
}
